@font-face {
  font-family: paragraph;
  src: url("/static/fonts/IBMPlexSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: subtitle;
  src: url("/static/fonts/IBMPlexSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: title;
  src: url("/static/fonts/IBMPlexSans-Bold.ttf") format("truetype");
}
